<div id="genxyz-detailsContainer">
    <div class="genxyz-detailsSubMenu" id="genxyz-editMenu">@Html.Partial("~/Views/Nodes/_EditNode.cshtml")</div>
    <div class="genxyz-detailsSubMenu" id="genxyz-parentLinksMenu">@Html.Partial("~/Views/Nodes/_ParentLinks.cshtml")</div>
    <div class="genxyz-detailsSubMenu" id="genxyz-childLinksMenu">@Html.Partial("~/Views/Nodes/_ChildLinks.cshtml")</div>
    <div class="genxyz-detailsSubMenu" id="genxyz-symbolicLinksMenu">@Html.Partial("~/Views/Nodes/_SymbolicLinks.cshtml")</div>
    <div class="genxyz-detailsSubMenu" id="genxyz-pathsMenu">@Html.Partial("~/Views/Nodes/_Paths.cshtml")</div>
</div>